<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5 ins">
        <h1 class="text-center">Dien tich {{loaiHinh}} la: {{dienTich}}</h1>
    </div>
</body>

</html>