<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="/stylesheets/all.min.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/ruang-admin.min.css" rel="stylesheet">
   <link href="/images/logo.png" rel="icon">
   <link href="/stylesheets/dataTables.bootstrap4.min.css" rel="stylesheet">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</head>

<body>
  {{{body}}}
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/js/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/jquery.easing.min.js"></script>
  <script src="/javascripts/ruang-admin.min.js"></script>
  <script src='/javascripts/hello.js'></script>
  <script src="/javascripts/jquery.dataTables.min.js"></script>
  <script src="/javascripts/dataTables.bootstrap4.min.js"></script>
</body>

</html>